.row-items{
  display: flex;
  justify-content: end;
}
#small-btn{
  direction: rtl;
  height: 36px;
  width: 36px;
background: #dfdcdc;
color: #423e3e;
border: 0.75px;
border-radius: 4px;
margin: 3px;
}
.charts{
  height: 310px;
  margin: 9px;
  border-radius: 9px;
}

