*{
  margin: 3px;
  padding: 3px;
  }
  .card
  {
    width: 408px;
   height: 309px;
  background-color:#8A74F9 ;

  }
  #edit-btn
  {
    width: 78px;
    height: 34px;
  background-color: white;
    border-radius: 4px ;
    border: 1px;
    box-shadow:2px  rgb(0, 0, 0);
      transition: 0.9s ease;

  }
  #edit-btn:hover
  {
    background-color: rgba(251, 250, 249, 0.932);
    transform :scale(1.1,1.2);
  }
  #del{
    margin: 10px;
    padding: 10px;
  }
  .up-area{
    display: flex;
    flex-direction: column;

    align-items:center;
  }
  .card-title{
    display: flex;
    font-weight: bolder;
    color: #ffffff;
    justify-content: center;

  }
  .card-text{
    display: flex;
    font-weight: 700;
    color: #ffffff;
    justify-content: center;

  }
  .copy-text{
    display: flex;
  width: 226.2px;
  height: 42px;
  border-radius: 8.32px ;
  background-color: white;
  text-align: center;
  justify-content: center;
  color: #000;
  font-weight: lighter;
  }
  hr{
    color: white;
    border-style: dashed;
    height: 10px;
  }
  #share-btn{

  background: fixed;
  width: 70px;
  padding: 0;
  height: 24px;
  border-radius: 4px ;
  border: 1px solid white;
  color: white;
  font-size: smaller;
  box-shadow:2px  rgb(0, 0, 0);
  transition: 0.9s ease;
}
  #share-btn:hover{
    background-color: #937dff;
    transform :scale(1.1,1.2);
  }
  #offer{
  color: #ffffff;
  }
  .offer{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
  }
  .down-area{
    display: flex;
    justify-content: space-between;
  }

.qr{
  margin: 0;
  padding: 0;
border: 0px;
width: min-content;

}
.del{
  display: flex;
  flex-direction: row;
  justify-content:stretch;


}
